*{
    margin: 0;
    padding: 0;
}

.mycloud{
background-color: black;
color:white;
text-align: left;

font-style: serif;
font-weight: bold;
font-size: 50px;
padding-left: 20px;
margin: 10px;
}
.projec{
background-color: purple;
color: white;
text-align: center;
font-style: italic;
font-weight: lighter;
margin-left: 10px;
margin-right: 10px;
}
.contact{
background-color: skyblue;
color:purple;
text-decoration: underline;
text-align: right;
margin: 10px;
padding-right: 20px;
}

h1 span {
    color: cyan;
}